<p>
  <b>Device status:</b>
  <%= @device_status.device_status %>
</p>


<%= link_to 'Edit', edit_device_status_path(@device_status) %> |
<<<<<<< HEAD
<%= link_to 'New', new_device_status_path %> |
=======
>>>>>>> 53a75de68dd6fca626b398c21d1923a2b7056408
<%= link_to 'Back', device_statuses_path %>
