<div ="nested_partial">
  <fieldset>
    <legend>Device Problem</legend>
    <p>
      <b>Location:</b>
      <%= device_location.location.location_name %>
    </p>

    <p>
      <b>Patient:</b>
      <%= device_location.patient.patient_full_name %>
    </p>

  </fieldset>
</div>
